@import './normalise.scss';

body {
  font-family: 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI', Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  height: 100%;
  background-color: #f4f5f7;
  overflow-x: hidden;
  font-size: 14px;
  line-height: 1.3;
  margin: 0 !important;
  font-weight: 400;
  letter-spacing: normal;
  text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: geometricPrecision;
  font-variant-ligatures: common-ligatures;
  color: #1a202c;
}

body * {
  transition: 0.2s ease-in-out;
  margin: 0;
}

.container {
  display: flex;
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

li {
  list-style-type: none;
}

small {
  font-size: 12px;
}

img {
  /* Makes sure image is never bigger than its parent */
  max-width: 100%;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #646464;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #646464;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: #646464;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #646464;
}
