header.title {
  padding: 30px 0;
  background: #071936;
  color: #fff;

  .container {
    align-items: center;
    span {
      font-weight: 600;
      font-size: 20px;
      margin-left: 0.5em;
      padding-left: 0.5em;
      border-left: 2px solid #fff;
    }
  }
}

header.nav {
  background: #091e42;
  color: #fff;
  background-image: url('../assets/Croods\ User\ Interface.png');
  background-repeat: no-repeat;
  background-position: 70%;

  .container {
    height: 200px;
    flex-flow: column;
    padding: 50px 0;

    h3 {
      margin-top: auto;
      font-size: 32px;
      line-height: 140%;
    }

    h1 {
      font-weight: bold;
      font-size: 72px;
    }
  }
}

.feed {
  .container {
    background: #ffffff;
    border-radius: 10px;
    margin-top: 24px;
    margin-bottom: 24px;
    padding: 32px;
    max-width: 1056px;
    flex-flow: column;

    .feedTitle {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      border-bottom: 1px solid #091e421a;
      padding-bottom: 24px;

      h4 {
        font-weight: bold;
        font-size: 28px;
        line-height: 150%;
      }

      div.sel {
        > div {
          border-radius: 5px;
          filter: drop-shadow(0px 0px 4px rgba(51, 54, 68, 0.05)),
            drop-shadow(0px 2px 6px rgba(51, 54, 68, 0.1));
          width: 320px;
        }

        label {
          font-size: 14px;
          line-height: 120%;
          color: #b4bac4;
          margin-bottom: 0.3em;
        }
      }
    }

    .feedContent {
      padding: 20px 0;
      display: grid;
      grid-template-columns: 320px 320px 320px;
      grid-column-gap: 48px;
      grid-row-gap: 48px;

      .videoTile,
      .skeletonLoader {
        height: 250px;
        border-radius: 6px;
      }

      .videoTile {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 16px;
        display: flex;
        cursor: pointer;
        color: white;
        display: inline-flex;
        flex-flow: column;

        > * {
          display: flex;
        }

        span.views,
        .time {
          margin-left: auto;
          font-weight: 600;
          font-size: 14px;
          line-height: 120%;
          color: #dfe1e6;
        }

        .tileData {
          margin-top: auto;
          flex-flow: column;
          margin-bottom: 16px;

          > * {
            width: fit-content;
          }

          span.tag {
            background: #45526ccc;
            font-weight: 600;
            font-size: 12px;
            line-height: 120%;
            padding: 4px 6px;
            border-radius: 4px;
            margin-bottom: 10px;
          }

          span.author {
            font-size: 14px;
            line-height: 120%;
            margin-bottom: 5px;
            font-weight: 500;
          }

          h4.title {
            font-weight: bold;
            font-size: 18px;
            line-height: 150%;
          }
        }

        &:hover {
          transform: translateY(-5%) !important;
          box-shadow: 0px 4px 4px #3f3f3f57;
        }
      }
    }
  }
}

footer {
  background: #071936;
  padding: 35px;
  color: #7f8a9d;
  display: flex;
  justify-content: center;

  span {
    margin-left: 1.5em;
  }
}

.skeletonLoader {
  background-color: #ffffff;
  background-image: linear-gradient(to right, #eee 8%, #ddd 18%, #eee 33%);
  animation: skletalAnimation 3s ease-in-out infinite;
}

@keyframes skletalAnimation {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

.button.categoriesFloat {
  display: none;
}

.videoModal,
.backDrop {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000000bf;
  display: flex;

  .videoContainer {
    width: fit-content;
    margin: auto;
  }

  video-js {
    width: 80vw;
    height: 60vh;
  }

  button.modalClose {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 20px;
    cursor: pointer;
  }
}

@keyframes p_loader {
  0% {
    background-position: -100% 0%;
  }

  100% {
    background-position: 100% 0%;
  }
}

.preload {
  background: linear-gradient(to right, #eee 8%, lightgray 25%, #eee 33%);
  background-size: 200% 100%;
  animation: p_loader 1s ease-in-out infinite;
}

.videoLoader,
failure {
  display: block;
  height: 15em;
  border-radius: 5px;
  border: 5px solid #e0e0e099;
  cursor: progress;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

:global {
  .videoContent {
    display: inline-block;
    position: relative;
    margin: 0;
    video-js {
      width: 650px;
      height: 366px;
      margin: 0;
    }
  }
}

@media only screen and (max-width: 768px) {
  .container {
    max-width: 90vw;
  }

  header.title {
    padding: 15px 0;

    .container span {
      font-size: 16px;
      line-height: 150%;
    }
  }

  .feed {
    .container {
      margin: 0;
      padding: 15px 20px;

      .feedContent {
        grid-template-columns: 44vw 44vw;
        grid-column-gap: 8px;
        grid-row-gap: 8px;

        .videoTile {
          padding: 10px;
          .time,
          span.views {
            font-size: 12px;
            line-height: 150%;
          }

          .tileData {
            span.tag {
              font-size: 10px;
              line-height: 120%;
            }

            span.author {
              font-size: 12px;
              line-height: 150%;
            }

            h4.title {
              font-size: 14px;
              line-height: 130%;
            }
          }
        }
      }

      .feedTitle {
        flex-flow: column;
        align-items: flex-start;
        padding: 0;
        border: 0;

        h4 {
          margin-bottom: 0.4em;
          font-size: 20px;
          line-height: 130%;
        }

        div.sel {
          display: none;
        }
      }
    }
  }

  header.nav,
  footer {
    display: none;
  }

  button.categoriesFloat {
    position: fixed;
    bottom: 50px;
    z-index: 10;
    left: 50%;
    background: linear-gradient(110.83deg, #fa8888 15.83%, #f82c4e 97.46%);
    box-shadow: 0px 6px 10px rgb(51 54 68 / 5%),
      0px 10px 16px rgb(51 54 68 / 15%);
    border-radius: 50px;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    padding: 5px 24px;
    transform: translateX(-50%);
    display: flex;
    align-items: center;

    > svg {
      margin-right: 0.5em;
    }
  }

  .mobCatList {
    position: fixed;
    z-index: 101;
    background: #fff;
    bottom: 40px;
    width: 83vw;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px 15px;
    border-radius: 5px;
    display: flex;
    flex-flow: column;

    > span {
      font-size: 16px;
      line-height: 100%;
      letter-spacing: -0.016em;
      padding: 10px 0;
      margin-bottom: 5px;
      margin-left: 25px;
      position: relative;

      &.active::after {
        content: '';
        display: inline-block;
        background: #e95454;
        width: 8px;
        height: 8px;
        position: absolute;
        border-radius: 50%;
        left: -20px;
        top: 14px;
      }
    }
  }
}

@media only screen and (max-width: 1150) {
  .container {
    max-width: 1020px;
  }
}
